name: Sadece Linux Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  linux_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Python Kurulumu
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Kütüphaneleri Yükle
      run: |
        pip install -r requirements.txt

    - name: Linux için Derle
      run: |
        pyinstaller --noconsole --onefile --name "FeistelLinux" main.py

    - name: Dosyayı İndirilebilir Yap
      uses: actions/upload-artifact@v4
      with:
        name: Linux-Versiyonu
        path: dist/
