name: Linux Exe Olusturucu

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  linux_build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Python Kurulumu
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Kutuphaneleri Yukle
      run: |
        pip install -r requirements.txt

    - name: Linux icin Derle (InfoSec_Project)
      # BURADA SENIN DOSYA ADINI GUNCELLEDIM:
      run: |
        pyinstaller --noconsole --onefile --name "InfoSec_Linux_App" InfoSec_Project.py

    - name: Dosyayi Indirilebilir Yap
      uses: actions/upload-artifact@v4
      with:
        name: Linux-Uygulamasi
        path: dist/
